DISCORD_TOKEN=
COMMAND_PREFIX=!

RCON_HOST=
RCON_PORT=25575
RCON_PASSWORD=
WHITELIST_COMMAND_TEMPLATE=swl add {nickname}

SUPPORT_ROLE_IDS=1516153748647313408,1516154082069315778
ACCEPTED_ROLE_ID=1516154708920893550
RULES_CHANNEL_ID=1516159088151761107

TICKET_CATEGORY_ID=0
TICKET_CATEGORY_NAME=Lunacy Tickets

COMMAND_GUILD_IDS=
FOOTER_TEXT=Lunacy Tickets
